.back {
  background-color: #e3bebe;
  margin-top: 98px;
  border-radius: 2%;
  border: solid 2px;
  box-shadow: 0 0 7px white;
  margin-bottom: 45px;
}
.button {
  margin: 15px;
  padding: 4px;
  border-radius: 9%;
  background-color: #e5a0a0;
}
.imgs {
  margin: 11px;
  border-radius: 7px;
}
