.form {
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 127px;
  background: #1314145e;
}
.li {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
}
