.row {
  margin-top: 150px;
  margin-left: 50px;
  margin-right: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cols {
  cursor: pointer;
  margin: 30px;
  display: flex;
  height: 84px;

  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #333232;
  font-size: 21px;
  color: #e2f3f3;

  box-shadow: 0 0 14px white;
  border: 2px black;
}
