.back {
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: aliceblue;
  margin-bottom: 80px;
}
.table {
  padding: 10px;
  display: flex;
  flex-direction: row;
  background-color: #a5a4a4;
  margin: 0px;
  border-bottom: solid 1px;
}
.texts {
  text-align: center;
}
